<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{url_for{'static',filename='css/style.css'}}}">
    <title>ask485</title>
</head>
<body>
    <main>
        <!-- DO NOT CHANGE THIS (aside from where we say 'FIXME') -->
        <form action="/" method="GET">
            <div><input type="text" name="q"/></div>
            <div><input type="range" name="w" min="0" max="1" step=".01"/></div>
            <input type="submit" value="Search"/>
        </form>
    </main>
</body>

</html>