<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <title>ask485</title>
</head>
<div class="feed">
    <body>
        <main>
            <!-- DO NOT CHANGE THIS (aside from where we say 'FIXME') -->
            <div class="ask485">ask485?</div>
            <div class="search_bar">
                <form action="/" method="GET">
                    <div><input type="text" name="q" value="{{query}}"></div>
                    <div><div class="pagerank_weight">Pagerank Weight</div><input type="range" name="w" min="0" max="1" value="{{weight}}" step=".01"/></div>
                    <input type="submit" value="Search"/>
                </form>
            </div>
            <div class="docs">
                {% for result in results %}
                <a class="doc_url" href="{{result.url}}">{{result.url}}</a>
                <div class="doc_title">{{result.title}}</div>
                <div class="doc_summary">{{result.summary}}</div>
                {% endfor %}
            </div>
        </main>
    </body>
</div>

</html>